{% extends 'base.html' %}  <!-- Расширение базового шаблона 'base.html' -->

{% block title %}
Обновление статьи  <!-- Заголовок страницы -->
{% endblock %}

{% block body %}  <!-- Блок с основным содержимым страницы -->
<div class="container">  <!-- Контейнер для выравнивания содержимого -->
    <h1>Обновление статьи</h1>  <!-- Заголовок раздела -->
    <form method="post">  <!-- Форма для отправки данных -->
        <input type="text" name="title" id="title" class="form-control" value="{{article.title}}" placeholder="Введите заголовок статьи"><br>  <!-- Поле ввода заголовка статьи -->
        <textarea name="intro" id="into" class="form-control" placeholder="Введите краткое описание">{{article.title}}</textarea><br>  <!-- Поле ввода краткого описания статьи -->
        <textarea name="text" id="text" class="form-control" placeholder="Введите текст статьи">{{article.title}}</textarea><br>  <!-- Поле ввода текста статьи -->
        <input type="submit" onclick="return confirmUpdate();" class="btn btn-success" value="Обновить текст статьи" /><br>  <!-- Кнопка отправки формы -->
    </form>
</div>
{% endblock %}  <!-- Закрытие блока с основным содержимым страницы -->